@import "tailwindcss";


:root {
  --color-primary: #8C52FF;
  --color-secondary: #880085;
  --color-accent: #00ff40;
  --color-accent-2: #48cfae;
  --color-bg-light: #F8F8FF;
  --color-bg-dark: #32174D;
  --color-not-blue: #010D36;
  --color-deep-violet: #170825;
  --color-zinc-300: #d4d4d8;
  --color-zinc-400: #a1a1aa;
  --color-zinc-700: #3f3f46;
}

/* Light Backgrounds */
.bg-background-light { background-color: var(--color-bg-light); }
.bg-background-dark { background-color: var(--color-bg-dark); }
.bg-primary { background-color: var(--color-primary); }
.bg-not-blue { background-color: var(--color-not-blue); }
.bg-accent-2 { background-color: var(--color-accent-2); }
.bg-white { background-color: white; }


/* Light Text */
.text-accent-2 { color: var(--color-accent-2); }
.text-bg-light { color: var(--color-bg-light); }
.text-bg-dark { color: var(--color-bg-dark); }
.text-not-blue { color: var(--color-not-blue); }
.text-deep-violet { color: var(--color-deep-violet); }

/* Light Borders */
.border-primary { border-color: var(--color-primary); }
.border-accent-2 { border-color: var(--color-accent-2); }
.border-bg-light { border-color: var(--color-bg-light); }

/* Light Hover */
.hover\:text-accent-2:hover { color: var(--color-accent-2); }

/* Dark Backgrounds */
.dark .dark\:bg-background-dark { background-color: var(--color-bg-dark); }
.dark .dark\:bg-not-blue { background-color: var(--color-not-blue); }
.dark .dark\:bg-deep-violet { background-color: var(--color-deep-violet); }
.dark .dark\:bg-accent { background-color: var(--color-accent); }

/* Dark Texts */
.dark .dark\:text-primary { color: var(--color-primary); }
.dark .dark\:text-not-blue { color: var(--color-not-blue); }
.dark .dark\:text-deep-violet { color: var(--color-deep-violet); }
.dark .dark\:text-accent { color: var(--color-accent); }
.dark .dark\:text-bg-light { color: var(--color-bg-light); }

.dark .dark\:text-zinc-300 { color: var(--color-zinc-300); } /*SkillsBar*/
.dark .dark\:text-zinc-400 { color: var(--color-zinc-400); } /*SkillsBar*/

/*Dark Texts Hover*/
.dark .dark\:hover\:text-deep-violet:hover {color: var(--color-deep-violet); }
.dark .dark\:hover\:text-accent:hover {color: var(--color-accent); }
.dark .dark\:hover\:text-primary:hover { color: var(--color-primary); }

/*Dark Border*/
.dark .dark\:border-accent { border-color: var(--color-accent); }
.dark .dark\:border-bg-light { border-color: var(--color-bg-light); }
.dark .dark\:border-primary { border-color: var(--color-primary); }
.dark .dark\:border-deep-violet { border-color: var(--color-deep-violet); }
.dark .dark\:bg-zinc-700 { background-color: var(--color-zinc-700); } /*SkillsBar*/

/* Dark Hover */
.dark .dark\:hover\:bg-accent:hover { background-color: var(--color-accent); }
.dark .dark\:hover\:bg-primary:hover { background-color: var(--color-primary); }
.dark .dark\:hover\:bg-background-light:hover { background-color: var(--color-bg-light); }

/*Fuentes*/
.didact-gothic-regular {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dongle-regular {
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}
/* 
.comic-neue-light-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: italic;
}

.comic-neue-regular-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: italic;
}

.comic-neue-bold-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: italic;
} */